@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');

*::-webkit-scrollbar{ width :1px; }

body{
  background-color: #F3E8E4 !important;
  width: 100%;
  height: 100vh;
}

.app-name{
  font-family: 'Cabin', sans-serif;
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 30px;
}

.app-name:nth-child(1){
  color: #FF4F5A;
}
:nth-child(2){
  color: #FFB753;
}

.home-logo{
  margin: auto !important;
}

@media only screen and (max-width: 991px) {
  .home-logo{
    text-align: center !important;
  }

  .home-logo img{
    width: 50% !important;
  }
}

@media only screen and (max-width: 600px) {

  html{
    font-size: 13px !important;
  }

  .home-logo img{
    width: 70% !important;
  }
}

.sidebar-item:hover{
  background-color: #192A53 !important;
  cursor: pointer;
}

.sidebar-item:hover .email, .sidebar-item:hover .name{
  color: white !important;
}